h1{
    color: rgb(255, 94, 0);
    text-align: center;
}

h2{
    text-decoration: underline;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #09ae92;
    background-image: url('img/verdugo 2.0.gif');
    background-size: 155px;
    background-repeat: no-repeat;
    background-position: right;
    font-style: italic;
    color: white;
    z-index: 1000;
    position: fixed;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 45px;
    font-size: 30px;
}

.inicio_div{
    color: #068904;
    text-align: center;
    font-style:inherit;
    font-size: larger;
    border: 10px solid greenyellow;
    background-color: #9bf929a1;
    border-radius: 20px;
}

#sobre-mi, #proyectos, #contacto, #referencias{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: #ffffffc2;
    border: 5px solid #04ff00;
    border-style: dotted;
    border-radius: 20px;
    padding: 30px;
    font-size: large;
}

.aboutme_div{
    color: rgb(7, 7, 6);
    text-align: left;
    font-style: italic;
    background-image: url('img/espejo.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right 70%;
}

.proyectos_div{
    text-align: right;
    font-style: oblique;
    background-image: url('img/logo-piton.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left 30%;
}

.contacto_div{
    text-align: left;
    font-style: oblique;
    background-image: url('img/carta.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right 40%;
}

#contact_h3{
    margin-bottom: 0px;
}

#contact_h3_red{
    margin-bottom: 20px;
}

table{
    margin-top: 0px;
    border-spacing: 20px;
    border-collapse: separate;
}

th, td{
    text-align: center;
    vertical-align: middle;
}

#contact_list{
    list-style-image: url('img/trollface.png');
    padding: 0px 30px;
    margin-top: 0px;
}

.referencias_div{
    text-align: right;
    font-style: oblique;
    background-image: url('img/referencia.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left 80%;
}

li{
    color: aqua;
}

header{
    color: rgb(230, 64, 64);
    text-align: center;
}

.fotuki{
    border-radius: 5px;
    box-shadow: 0px 6px 10px black;
    width: 200px;
}

section{
    scroll-margin-top: 150px;
}

body{
    margin-top: 140px;
    background-color: #2ba8ddc8;
    background-image: url('img/jonny.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

aside{
    margin-top: 20px;
    text-align: center;
}

footer{
    text-align: center;
    color: black;
}

#claro-btn, #oscuro-btn, #subir-btn{
    bottom: 30px;
    width: 55px;
    height: 55px;
    position: fixed;
    cursor: pointer;
    background-size: 55px 55px;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 6px 10px black;
}

#subir-btn{
    display: none;
    right: 30px;
    background-image: url('img/mano.png');
}

#subir-btn.show{
    display: block;
}

#claro-btn{
    left: 30px;
    background-image: url('img/sol.jpg');
}

#oscuro-btn{
    left: 110px;
    background-image: url('img/luna.jpg');
}