h1{
    color: rgb(255, 94, 0);
    text-align: center;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #09ae92;
    background-image: url('verdugo 2.0.gif');
    background-size:  155px;
    background-repeat: no-repeat;
    background-position: right;
    font-size: large;
    font-style: italic;
    color: white;
    z-index: 1000;
    position: fixed;
}

li{
    color: aqua;
}

header{
    color: rgb(230, 64, 64);
    text-align: center;
}

nav ul{
    list-style: none;
    position: flex;  
}

section{
    scroll-margin-top: 160px;
}

.inicio_div{
    color: #068904;
    text-align: center;
    font-style:inherit;
    font-size: larger;
    border: 10px solid greenyellow;
    background-color: #9bf929a1;
}

body{
    margin-top: 140px;
    background-color: #2ba8ddc8;
    background-image: url('jonny.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

.aboutme_div{
    margin-top: 20px;
    color: rgb(7, 7, 6);
    text-align: left;
    font-size: large;
    font-style: italic;
    background-color: #ffffffc2;
    border: 5px solid #04ff00;
    border-style: dotted;
}

.proyectos_div{
    margin-top: 20px;
    background-color: #ffffffc2;
    border: 5px solid #04ff00;
    border-style: dotted;
    text-align: right;
    font-style: oblique;
}

.contacto_div{
    margin-top: 20px;
    background-color: #ffffffc2;
    border: 5px solid #04ff00;
    border-style: dotted;
    text-align: left;
    font-style: oblique;
}

.referencias_div{
    margin-top: 20px;
    background-color: #ffffffc2;
    border: 5px solid #04ff00;
    border-style: dotted;
    text-align: right;
    font-style: oblique;
}

aside{
    margin-top: 20px;
    text-align: center;
}

footer{
    text-align: center;
}